# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.hdf5
*.h5
*.pdf
*.csv
*.DS_Store
*.json

# Virtual environment
venv/
.env/

# PyCharm
.idea/

# Test coverage
htmlcov/
.coverage
coverage.xml

# Distribution
dist/
build/
*.egg-info/
